model/3.5-turbo/codet5-large/checkpoint-888/pytorch_model.bin
model/3.5-turbo/codet5-base/checkpoint-7104/optimizer.pt
wandb/run-20230412_100339-dlrusgzo/run-dlrusgzo.wandb
model/one-time-data/codet5-large/checkpoint-2106/optimizer.pt
baselines/other_baselines/Tk-Instruct/output/default/t0-11b/predicted_examples.jsonl
model/davinci-002/codet5-small/checkpoint-7500/pytorch_model.bin
model/code-t5-base/compressed/length_compressed/0.2_compressed-learning-6e-5/pytorch_model.bin
model/one-time-data/codet5-base/checkpoint-1404/pytorch_model.bin
pre_trained_model/roberta-base/pytorch_model.bin
model/3.5-turbo/codet5-small/checkpoint-10656/optimizer.pt
model/coin_filp/code-t5-small/6e-5/checkpoint-69/optimizer.pt
model/davinci-002/codet5-base/checkpoint-2000/optimizer.pt
model/code-t5-small/compressed/length_compressed/0.6_compressed-learning-6e-5/pytorch_model.bin
dataset/other_dataset/natural-instruction-v2-json/tokenized_text/tokenized_test.json
model/one-time-data/codet5-small/checkpoint-2808/optimizer.pt
model/code-t5-small/model_for_distillation/top-p-0.99/code-t5-small-distillation-beta-0.1/pytorch_model.bin
model/3.5-turbo/codet5-small/checkpoint-7104/pytorch_model.bin
model/3.5-turbo/codet5-base/checkpoint-888/pytorch_model.bin
model/code-t5-large/baseline-standard-GSM8K-tuning/pytorch_model.bin
model/davinci-002/codet5-base/checkpoint-3000/optimizer.pt
model/code-t5-large/code-t5-large-enhanced-7time-learning-5e-5/pytorch_model.bin
model/code-t5-base/compressed/gradient_compressed/0.3_compressed-learning-6e-5/pytorch_model.bin
model/code-t5-small/model_for_distillation/code-t5-small-distillation-top-p-0.99/pytorch_model.bin
model/code-t5-large/baseline-standard-last_letter-tuning/pytorch_model.bin
model/strategy_qa/code-t5-large/6e-5/pytorch_model.bin
model/davinci-002/codet5-base/checkpoint-2000/pytorch_model.bin
model/code-t5-large/self_distillation/code-t5-large-lr-6e-5-distillation/pytorch_model.bin
model/3.5-turbo/codet5-small/checkpoint-10656/pytorch_model.bin
model/davinci-002/codet5-large/checkpoint-2500/pytorch_model.bin
model/3.5-turbo/codet5-small/checkpoint-7992/pytorch_model.bin
model/davinci-002/codet5-small/checkpoint-5500/optimizer.pt
baselines/other_baselines/Tk-Instruct/output/default/tk-instruct-11b-def-pos/predicted_examples.jsonl
model/code-t5-small/compressed/entropy_compressed/0.6_compressed-learning-6e-5/pytorch_model.bin
model/3.5-turbo/codet5-small/checkpoint-7104/optimizer.pt
model/davinci-002/codet5-small/checkpoint-7000/pytorch_model.bin
model/3.5-turbo/codet5-small/checkpoint-5328/optimizer.pt
model/code-t5-small/compressed/fathiful_compressed/0.6_compressed-learning-6e-5/pytorch_model.bin
model/code-t5-small/model_for_distillation/code-t5-small-distillation-mean/pytorch_model.bin
model/davinci-002/codet5-small/checkpoint-500/optimizer.pt
model/one-time-data/codet5-small/checkpoint-7020/pytorch_model.bin
model/code-t5-small/compressed/entropy_compressed/0.1_compressed-learning-6e-5/pytorch_model.bin
model/code-t5-base/trainsformers_v2.28.0/0.8_compressed-learning-6e-5/pytorch_model.bin
model/davinci-002/codet5-small/checkpoint-1000/pytorch_model.bin
dataset/other_dataset/natural-instruction-v2-json/tokenized_text/tokenized_validation.json
model/code-t5-small/compressed/entropy_compressed/0.9_compressed-learning-6e-5/pytorch_model.bin
model/code-t5-small/compressed/gradient_compressed/0.6_compressed-learning-6e-5/pytorch_model.bin
model/code-t5-small/compressed/gradient_compressed/0.5_compressed-learning-6e-5/pytorch_model.bin
model/code-t5-base/trainsformers_v2.28.0/0.6_compressed-learning-6e-5/pytorch_model.bin
model/3.5-turbo/codet5-base/checkpoint-5328/pytorch_model.bin
pre_trained_model/facebook/opt-2.7b/flax_model.msgpack
model/one-time-data/codet5-large/checkpoint-3510/pytorch_model.bin
model/coin_filp/code-t5-small/6e-5/checkpoint-276/optimizer.pt
model/davinci-002/codet5-small/checkpoint-4000/optimizer.pt
model/one-time-data/codet5-small/checkpoint-2106/pytorch_model.bin
dataset/other_dataset/natural-instructions-2.7/tasks/task1291_multi_news_summarization.json
model/code-t5-base/compressed/fathiful_compressed/0.6_compressed-learning-6e-5/pytorch_model.bin
model/code-t5-small/compressed/gradient_compressed/gradient_descending/0.9_compressed-learning-6e-5/pytorch_model.bin
model/code-t5-small/model_for_distillation/code-t5-samll-enhanced-7time-learning-5e-5-with-teacher-batchmean/pytorch_model.bin
model/strategy_qa/code-t5-base/6e-5/pytorch_model.bin
model/code-t5-base/compressed/gradient_compressed/0.1_compressed-learning-6e-5/pytorch_model.bin
model/3.5-turbo/codet5-small/checkpoint-9768/optimizer.pt
model/code-t5-small/compressed/entropy_compressed/0.2_compressed-learning-6e-5/pytorch_model.bin
model/code-t5-large/code-t5-large-enhanced-0.7764filter-learning-6e-5/pytorch_model.bin
model/coin_filp/code-t5-small/6e-5/checkpoint-207/optimizer.pt
model/coin_filp/code-t5-base/6e-5/pytorch_model.bin
model/3.5-turbo/codet5-base/checkpoint-4440/pytorch_model.bin
wandb/run-20230413_105455-qgo6mxm0/run-qgo6mxm0.wandb
baselines/other_baselines/Tk-Instruct/output/default/copy_demo/predicted_examples.jsonl
model/code-t5-small/compressed/gradient_compressed/gradient_descending/0.7_compressed-learning-6e-5/pytorch_model.bin
model/3.5-turbo/codet5-small/checkpoint-6216/pytorch_model.bin
model/code-t5-small/compressed/length_compressed/0.9_compressed-learning-6e-5/pytorch_model.bin
model/davinci-002/codet5-large/checkpoint-500/optimizer.pt
model/code-t5-small/code-t5-samll-enhanced-7time-learning-6e-5/pytorch_model.bin
model/code-t5-base/compressed/fathiful_compressed/0.1_compressed-learning-6e-5/pytorch_model.bin
model/code-t5-base/compressed/fathiful_compressed/0.7_compressed-learning-6e-5/pytorch_model.bin
model/code-t5-base/compressed/entropy_compressed/0.8_compressed-learning-6e-5/pytorch_model.bin
model/one-time-data/codet5-small/checkpoint-702/optimizer.pt
pre_trained_model/Salesforce/codet5-base/pytorch_model.bin
pre_trained_model/google/flan-t5-large/pytorch_model.bin
model/one-time-data/codet5-small/checkpoint-6318/pytorch_model.bin
model/davinci-002/codet5-small/checkpoint-6500/optimizer.pt
model/3.5-turbo/codet5-small/checkpoint-2664/pytorch_model.bin
model/davinci-002/codet5-small/checkpoint-3000/optimizer.pt
model/3.5-turbo/codet5-large/checkpoint-4440/pytorch_model.bin
model/code-t5-small/compressed/gradient_compressed/0.3_compressed-learning-6e-5/pytorch_model.bin
model/3.5-turbo/codet5-base/checkpoint-2664/optimizer.pt
model/one-time-data/codet5-small/checkpoint-3510/optimizer.pt
model/code-t5-small/baseline-standard-last_letter-tuning/pytorch_model.bin
model/code-t5-base/compressed/length_compressed/0.6_compressed-learning-6e-5/pytorch_model.bin
model/last_letter/code-t5-base/6e-5/pytorch_model.bin
model/code-t5-small/compressed/length_compressed/0.3_compressed-learning-6e-5/pytorch_model.bin
model/one-time-data/codet5-small/checkpoint-1404/pytorch_model.bin
model/coin_filp/code-t5-small/6e-5/checkpoint-138/pytorch_model.bin
pre_trained_model/facebook/opt-iml-1.3b/pytorch_model.bin
pre_trained_model/facebook/opt-1.3b/pytorch_model.bin
wandb/run-20230412_095246-8fi53jqu/run-8fi53jqu.wandb
model/code-t5-small/compressed/fathiful_compressed/0.4_compressed-learning-6e-5/pytorch_model.bin
model/3.5-turbo/codet5-large/checkpoint-2664/optimizer.pt
model/davinci-002/codet5-large/checkpoint-1500/optimizer.pt
model/davinci-002/codet5-small/checkpoint-2500/optimizer.pt
model/one-time-data/codet5-large/checkpoint-1404/pytorch_model.bin
model/code-t5-base/self_distillation/code-t5-base-lr-6e-5-distillation/pytorch_model.bin
pre_trained_model/gpt-2/64-8bits.tflite
model/coin_filp/code-t5-small/6e-5/checkpoint-414/pytorch_model.bin
model/davinci-002/codet5-small/checkpoint-2500/pytorch_model.bin
model/code-t5-base/compressed/fathiful_compressed/0.9_compressed-learning-6e-5/pytorch_model.bin
model/3.5-turbo/codet5-small/checkpoint-12432/pytorch_model.bin
model/3.5-turbo/codet5-base/checkpoint-7992/optimizer.pt
pre_trained_model/gpt-2/64-fp16.tflite
model/coin_filp/code-t5-small/6e-5/checkpoint-414/optimizer.pt
# Gitignore for large files
# dirs
# model/
# datasets/
# pre-trained-model/
tensorboard/
wandb/
.vscode/
__pycache__/
precoessed_data/
model/
DeepSpeedExamples/
pre-trained-model/
datasets/

# files
model/davinci-002/codet5-base/checkpoint-3500/optimizer.pt
model/3.5-turbo/codet5-small/checkpoint-8880/pytorch_model.bin
model/3.5-turbo/codet5-base/checkpoint-6216/pytorch_model.bin
model/one-time-data/codet5-base/checkpoint-702/pytorch_model.bin
model/davinci-002/codet5-small/checkpoint-4500/pytorch_model.bin
model/code-t5-small/model_for_distillation/top-p-0.99/code-t5-small-distillation-beta-0.5/pytorch_model.bin
model/davinci-002/codet5-base/pytorch_model.bin
model/code-t5-base/baseline-standard-coin_filp-tuning/pytorch_model.bin
model/code-t5-base/compressed/fathiful_compressed/0.2_compressed-learning-6e-5/pytorch_model.bin
model/davinci-002/codet5-base/checkpoint-3000/pytorch_model.bin
model/3.5-turbo/codet5-large/checkpoint-3552/optimizer.pt
model/code-t5-small/code-t5-samll-enhanced-1time-learning-4e-5/pytorch_model.bin
model/code-t5-base/baseline-standard-last_letter-tuning/pytorch_model.bin
model/code-t5-small/model_for_distillation/code-t5-small-distillation-top-p/pytorch_model.bin
model/davinci-002/codet5-small/checkpoint-2000/pytorch_model.bin
model/code-t5-small/compressed/gradient_compressed/0.7_compressed-learning-6e-5/pytorch_model.bin
model/one-time-data/codet5-large/checkpoint-702/optimizer.pt
model/code-t5-small/compressed/gradient_compressed/0.8_compressed-learning-6e-5/pytorch_model.bin
model/code-t5-small/model_for_merge/code-t5-samll-enhanced-7time-learning-5e-5/pytorch_model.bin
model/code-t5-small/compressed/entropy_compressed/0.4_compressed-learning-6e-5/pytorch_model.bin
model/davinci-002/codet5-small/checkpoint-6500/pytorch_model.bin
model/3.5-turbo/codet5-large/pytorch_model.bin
model/code-t5-small/code-t5-samll-enhanced-1time-learning-1e-5/pytorch_model.bin
pre_trained_model/facebook/opt-2.7b/tf_model.h5
model/one-time-data/codet5-base/checkpoint-4212/pytorch_model.bin
model/davinci-002/codet5-large/checkpoint-500/pytorch_model.bin
model/code-t5-small/compressed/fathiful_compressed/0.5_compressed-learning-6e-5/pytorch_model.bin
model/coin_filp/code-t5-small/6e-5/checkpoint-483/pytorch_model.bin
model/one-time-data/codet5-small/checkpoint-1404/optimizer.pt
model/code-t5-small/compressed/fathiful_compressed/0.8_compressed-learning-6e-5/pytorch_model.bin
model/code-t5-small/code-t5-samll-enhanced-7time-learning-5e-5/pytorch_model.bin
model/code-t5-small/compressed/entropy_compressed/0.8_compressed-learning-6e-5/pytorch_model.bin
model/code-t5-small/baseline-standard-strategy_qa-tuning/pytorch_model.bin
model/coin_filp/code-t5-small/6e-5/checkpoint-552/pytorch_model.bin
model/code-t5-large/code-t5-large-enhanced-0.8filter-learning-6e-5/pytorch_model.bin
model/one-time-data/codet5-large/checkpoint-2106/pytorch_model.bin
model/3.5-turbo/codet5-base/checkpoint-1776/pytorch_model.bin
model/davinci-002/codet5-small/checkpoint-7000/optimizer.pt
model/one-time-data/codet5-large/checkpoint-702/pytorch_model.bin
model/davinci-002/codet5-large/checkpoint-1000/optimizer.pt
pre_trained_model/facebook/opt-350m/pytorch_model.bin
model/3.5-turbo/codet5-small/checkpoint-12432/optimizer.pt
model/code-t5-small/compressed/fathiful_compressed/0.7_compressed-learning-6e-5/pytorch_model.bin
model/davinci-002/codet5-base/checkpoint-500/optimizer.pt
wandb/run-20230412_194525-punhirrr/run-punhirrr.wandb
model/one-time-data/codet5-base/checkpoint-2808/pytorch_model.bin
baselines/other_baselines/iterater/.git/objects/pack/pack-36a7424d1c97168b00eb1e8245d7175ee3e98cf3.pack
model/code-t5-base/compressed/length_compressed/0.3_compressed-learning-6e-5/pytorch_model.bin
model/code-t5-base/compressed/length_compressed/0.4_compressed-learning-6e-5/pytorch_model.bin
model/code-t5-small/compressed/gradient_compressed/gradient_descending/0.4_compressed-learning-6e-5/pytorch_model.bin
model/3.5-turbo/codet5-small/checkpoint-2664/optimizer.pt
model/code-t5-base/compressed/fathiful_compressed/0.8_compressed-learning-6e-5/pytorch_model.bin
model/3.5-turbo/codet5-small/checkpoint-1776/optimizer.pt
model/one-time-data/codet5-base/checkpoint-3510/optimizer.pt
model/one-time-data/codet5-small/checkpoint-702/pytorch_model.bin
model/3.5-turbo/codet5-large/checkpoint-1776/optimizer.pt
model/code-t5-base/compressed/gradient_compressed/0.9_compressed-learning-6e-5/pytorch_model.bin
pre_trained_model/flan-t5-large/pytorch_model.bin
model/code-t5-small/compressed/gradient_compressed/gradient_descending/0.5_compressed-learning-6e-5/pytorch_model.bin
model/one-time-data/codet5-large/pytorch_model.bin
model/one-time-data/codet5-small/checkpoint-7722/optimizer.pt
pre_trained_model/Salesforce/codet5-large/pytorch_model.bin
model/code-t5-base/compressed/gradient_compressed/0.4_compressed-learning-6e-5/pytorch_model.bin
model/davinci-002/codet5-large/checkpoint-2000/optimizer.pt
model/3.5-turbo/codet5-small/checkpoint-7992/optimizer.pt
model/code-t5/pytorch_model.bin
model/davinci-002/codet5-base/checkpoint-1500/pytorch_model.bin
model/3.5-turbo/codet5-base/checkpoint-2664/pytorch_model.bin
model/one-time-data/codet5-base/checkpoint-3510/pytorch_model.bin
model/code-t5-large/baseline-standard-coin_filp-tuning/pytorch_model.bin
model/one-time-data/codet5-small/checkpoint-2808/pytorch_model.bin
model/coin_filp/code-t5-small/6e-5/pytorch_model.bin
model/one-time-data/codet5-base/checkpoint-2808/optimizer.pt
model/one-time-data/codet5-large/checkpoint-4212/optimizer.pt
model/code-t5-small/code-t5-samll-enhanced-1time-learning-7e-5/pytorch_model.bin
pre_trained_model/facebook/opt-2.7b/pytorch_model.bin
model/code-t5-small/compressed/entropy_compressed/0.7_compressed-learning-6e-5/pytorch_model.bin
model/code-t5-large/baseline-standard-strategy_qa-tuning/pytorch_model.bin
model/3.5-turbo/codet5-large/checkpoint-5328/pytorch_model.bin
model/3.5-turbo/codet5-small/checkpoint-13320/pytorch_model.bin
dataset/other_dataset/cnn_dailymail/data/dailymail_stories.tgz
model/3.5-turbo/codet5-large/checkpoint-2664/pytorch_model.bin
model/code-t5-base/compressed/entropy_compressed/0.1_compressed-learning-6e-5/pytorch_model.bin
model/code-t5-base/compressed/fathiful_compressed/0.5_compressed-learning-6e-5/pytorch_model.bin
model/code-t5-small/model_for_distillation/top-p-0.99/code-t5-small-lr-6e-5-distillation-beta-0.5-7e-5/pytorch_model.bin
model/one-time-data/codet5-small/checkpoint-5616/optimizer.pt
model/code-t5-small/compressed/fathiful_compressed/0.1_compressed-learning-6e-5/pytorch_model.bin
model/code-t5-small/compressed/length_compressed/0.8_compressed-learning-6e-5/pytorch_model.bin
baselines/other_baselines/mic/data_rot/MIC.csv
model/davinci-002/codet5-small/checkpoint-5000/optimizer.pt
model/code-t5-base/compressed/length_compressed/0.8_compressed-learning-6e-5/pytorch_model.bin
model/3.5-turbo/codet5-base/checkpoint-4440/optimizer.pt
model/3.5-turbo/codet5-base/checkpoint-7992/pytorch_model.bin
model/davinci-002/codet5-large/checkpoint-3000/pytorch_model.bin
model/one-time-data/codet5-small/checkpoint-4212/optimizer.pt
model/code-t5-base/baseline-standard-strategy_qa-tuning/pytorch_model.bin
dataset/other_dataset/natural-instruction-v2-json/text/test.json
model/one-time-data/codet5-small/checkpoint-8424/optimizer.pt
model/code-t5-small/compressed/fathiful_compressed/0.2_compressed-learning-6e-5/pytorch_model.bin
model/3.5-turbo/codet5-base/checkpoint-888/optimizer.pt
model/davinci-002/codet5-small/checkpoint-6000/pytorch_model.bin
model/coin_filp/code-t5-small/6e-5/checkpoint-345/pytorch_model.bin
model/one-time-data/codet5-base/checkpoint-4212/optimizer.pt
model/3.5-turbo/codet5-small/checkpoint-3552/optimizer.pt
model/code-t5-small/compressed/gradient_compressed/0.1_compressed-learning-6e-5/pytorch_model.bin
model/code-t5-base/compressed/gradient_compressed/0.8_compressed-learning-6e-5/pytorch_model.bin
baselines/other_baselines/Tk-Instruct/output/default/gpt3/text-davinci-001/predicted_examples.jsonl
model/code-t5-small/compressed/gradient_compressed/0.4_compressed-learning-6e-5/pytorch_model.bin
model/strategy_qa/code-t5-small/6e-5/pytorch_model.bin
model/code-t5-small/compressed/length_compressed/0.5_compressed-learning-6e-5/pytorch_model.bin
model/davinci-002/codet5-base/checkpoint-1000/pytorch_model.bin
model/3.5-turbo/codet5-small/checkpoint-14208/pytorch_model.bin
model/davinci-002/codet5-small/checkpoint-1500/pytorch_model.bin
model/code-t5-base/compressed/gradient_compressed/0.7_compressed-learning-6e-5/pytorch_model.bin
model/coin_filp/code-t5-small/6e-5/checkpoint-552/optimizer.pt
model/code-t5-small/model_for_merge/code-t5-samll-enhanced-7time-learning-4e-5/pytorch_model.bin
model/davinci-002/codet5-large/checkpoint-2500/optimizer.pt
model/code-t5-small/baseline-standard-GSM8K-tuning/pytorch_model.bin
model/davinci-002/codet5-large/checkpoint-2000/pytorch_model.bin
model/one-time-data/codet5-small/checkpoint-4914/optimizer.pt
model/code-t5-base/compressed/length_compressed/0.1_compressed-learning-6e-5/pytorch_model.bin
model/one-time-data/codet5-small/checkpoint-7020/optimizer.pt
model/davinci-002/codet5-large/checkpoint-1500/pytorch_model.bin
model/one-time-data/codet5-base/checkpoint-2106/optimizer.pt
model/coin_filp/code-t5-small/6e-5/checkpoint-345/optimizer.pt
model/code-t5-large/code-t5-large-enhanced-0.75filter-learning-6e-5/pytorch_model.bin
model/davinci-002/codet5-small/checkpoint-3000/pytorch_model.bin
pre_trained_model/flan-t5-large/model.safetensors
dataset/other_dataset/natural-instructions-2.7.zip
model/davinci-002/codet5-small/checkpoint-1500/optimizer.pt
model/code-t5-small/compressed/gradient_compressed/gradient_descending/0.8_compressed-learning-6e-5/pytorch_model.bin
model/davinci-002/codet5-small/checkpoint-4000/pytorch_model.bin
model/code-t5-small/compressed/gradient_compressed/0.2_compressed-learning-6e-5/pytorch_model.bin
model/davinci-002/codet5-small/checkpoint-500/pytorch_model.bin
pre_trained_model/Salesforce/codet5-small/pytorch_model.bin
model/coin_filp/code-t5-small/6e-5/checkpoint-483/optimizer.pt
model/3.5-turbo/codet5-base/checkpoint-6216/optimizer.pt
model/code-t5-small/model_for_merge/meger_model_from_4e-5_and_5e-5/pytorch_model.bin
model/one-time-data/codet5-small/checkpoint-4914/pytorch_model.bin
model/code-t5-base/compressed/entropy_compressed/0.4_compressed-learning-6e-5/pytorch_model.bin
baselines/other_baselines/Tk-Instruct/output/default/copy_input/predicted_examples.jsonl
model/opt-iml-code-generate-tuning/pytorch_model.bin
model/3.5-turbo/codet5-small/checkpoint-11544/optimizer.pt
model/code-t5-small/baseline-standard-coin_filp-tuning/pytorch_model.bin
model/one-time-data/codet5-small/checkpoint-8424/pytorch_model.bin
model/code-t5-base/compressed/gradient_compressed/0.5_compressed-learning-6e-5/pytorch_model.bin
model/3.5-turbo/codet5-small/checkpoint-6216/optimizer.pt
pre_trained_model/facebook/roscoe-512-roberta-base/pytorch_model.bin
pre_trained_model/gpt-2/model.safetensors
model/last_letter/code-t5-small/6e-5/pytorch_model.bin
model/coin_filp/code-t5-small/6e-5/checkpoint-207/pytorch_model.bin
model/3.5-turbo/codet5-small/checkpoint-13320/optimizer.pt
model/3.5-turbo/codet5-small/checkpoint-888/pytorch_model.bin
model/3.5-turbo/codet5-base/checkpoint-1776/optimizer.pt
dataset/other_dataset/mic/mic_train.json
model/code-t5-small/compressed/gradient_compressed/gradient_descending/0.3_compressed-learning-6e-5/pytorch_model.bin
dataset/other_dataset/natural-instruction-v2-json/text/train.json
model/3.5-turbo/codet5-small/checkpoint-1776/pytorch_model.bin
model/davinci-002/codet5-small/checkpoint-5000/pytorch_model.bin
model/3.5-turbo/codet5-base/pytorch_model.bin
model/3.5-turbo/codet5-small/checkpoint-14208/optimizer.pt
model/code-t5-base/code-t5-base-enhanced-7time-learning-6e-5/pytorch_model.bin
model/coin_filp/code-t5-small/6e-5/checkpoint-138/optimizer.pt
model/davinci-002/codet5-large/checkpoint-3000/optimizer.pt
baselines/other_baselines/Tk-Instruct/output/default/tk-instruct-3b-def-pos/predicted_examples.jsonl
model/3.5-turbo/codet5-base/checkpoint-5328/optimizer.pt
model/code-t5-base/compressed/fathiful_compressed/0.3_compressed-learning-6e-5/pytorch_model.bin
model/3.5-turbo/codet5-base/checkpoint-3552/optimizer.pt
model/one-time-data/codet5-small/pytorch_model.bin
model/one-time-data/codet5-small/checkpoint-3510/pytorch_model.bin
model/code-t5-small/code-t5-samll-enhanced-1time-learning-3e-5/pytorch_model.bin
model/code-t5-small/compressed/gradient_compressed/gradient_descending/0.6_compressed-learning-6e-5/pytorch_model.bin
model/t5-code-generate-tuning/pytorch_model.bin
model/code-t5-small/compressed/length_compressed/0.7_compressed-learning-6e-5/pytorch_model.bin
model/one-time-data/codet5-base/checkpoint-2106/pytorch_model.bin
model/code-t5-base/compressed/entropy_compressed/0.6_compressed-learning-6e-5/pytorch_model.bin
model/code-t5-small/compressed/fathiful_compressed/0.9_compressed-learning-6e-5/pytorch_model.bin
model/3.5-turbo/codet5-small/checkpoint-11544/pytorch_model.bin
model/code-t5-base/compressed/entropy_compressed/0.2_compressed-learning-6e-5/pytorch_model.bin
model/3.5-turbo/codet5-base/checkpoint-7104/pytorch_model.bin
model/code-t5-base/compressed/entropy_compressed/0.7_compressed-learning-6e-5/pytorch_model.bin
model/davinci-002/codet5-small/checkpoint-4500/optimizer.pt
model/3.5-turbo/codet5-small/checkpoint-4440/pytorch_model.bin
model/3.5-turbo/codet5-large/checkpoint-3552/pytorch_model.bin
model/davinci-002/codet5-base/checkpoint-3500/pytorch_model.bin
model/one-time-data/codet5-large/checkpoint-2808/optimizer.pt
model/coin_filp/code-t5-small/6e-5/checkpoint-276/pytorch_model.bin
model/davinci-002/codet5-small/checkpoint-3500/pytorch_model.bin
model/one-time-data/codet5-small/checkpoint-5616/pytorch_model.bin
model/davinci-002/codet5-small/checkpoint-8000/optimizer.pt
model/code-t5-base/compressed/gradient_compressed/0.6_compressed-learning-6e-5/pytorch_model.bin
model/davinci-002/codet5-base/checkpoint-1000/optimizer.pt
model/last_letter/code-t5-large/6e-5/pytorch_model.bin
model/code-t5-base/compressed/entropy_compressed/0.3_compressed-learning-6e-5/pytorch_model.bin
dataset/other_dataset/cnn_dailymail/data/cnn_stories.tgz
pre_trained_model/google/flan-t5-large/model.safetensors
model/davinci-002/codet5-small/checkpoint-6000/optimizer.pt
model/3.5-turbo/codet5-large/checkpoint-5328/optimizer.pt
model/one-time-data/codet5-large/checkpoint-3510/optimizer.pt
model/code-t5-small/compressed/entropy_compressed/0.3_compressed-learning-6e-5/pytorch_model.bin
model/davinci-002/codet5-small/checkpoint-7500/optimizer.pt
model/davinci-002/codet5-base/checkpoint-2500/pytorch_model.bin
model/davinci-002/codet5-small/checkpoint-1000/optimizer.pt
model/davinci-002/codet5-small/checkpoint-3500/optimizer.pt
baselines/other_baselines/mic/data_rot/.ipynb_checkpoints/MIC-checkpoint.csv
model/3.5-turbo/codet5-small/checkpoint-888/optimizer.pt
baselines/other_baselines/Tk-Instruct/output/default/t5-xxl-lm-adapt/predicted_examples.jsonl
model/code-t5-base/compressed/length_compressed/0.7_compressed-learning-6e-5/pytorch_model.bin
model/code-t5-base/compressed/entropy_compressed/0.5_compressed-learning-6e-5/pytorch_model.bin
model/code-t5-base/baseline-standard-GSM8K-tuning/pytorch_model.bin
model/davinci-002/codet5-small/checkpoint-8000/pytorch_model.bin
model/3.5-turbo/codet5-small/pytorch_model.bin
model/code-t5-small/compressed/gradient_compressed/gradient_descending/0.1_compressed-learning-6e-5/pytorch_model.bin
model/coin_filp/code-t5-large/6e-5/pytorch_model.bin
model/one-time-data/codet5-large/checkpoint-2808/pytorch_model.bin
model/3.5-turbo/codet5-small/checkpoint-3552/pytorch_model.bin
model/one-time-data/codet5-base/checkpoint-702/optimizer.pt
model/code-t5-base/compressed/gradient_compressed/0.2_compressed-learning-6e-5/pytorch_model.bin
pre_trained_model/gpt-2/pytorch_model.bin
model/code-t5-base/compressed/length_compressed/0.9_compressed-learning-6e-5/pytorch_model.bin
model/one-time-data/codet5-small/checkpoint-4212/pytorch_model.bin
model/code-t5-small/model_for_distillation/top-p-0.99/code-t5-small-lr-6e-5-distillation-beta-0.5/pytorch_model.bin
model/davinci-002/codet5-small/pytorch_model.bin
model/3.5-turbo/codet5-large/checkpoint-1776/pytorch_model.bin
model/code-t5-base/compressed/fathiful_compressed/0.4_compressed-learning-6e-5/pytorch_model.bin
model/code-t5-small/model_for_merge/meger_model_from_4e-5_and_5e-5_and_6e-5/pytorch_model.bin
model/one-time-data/codet5-large/checkpoint-1404/optimizer.pt
pre_trained_model/facebook/opt-iml-max-1.3b/pytorch_model.bin
model/3.5-turbo/codet5-large/checkpoint-4440/optimizer.pt
model/code-t5-large/code-t5-large-enhanced-7time-learning-6e-5/pytorch_model.bin
model/one-time-data/codet5-base/checkpoint-1404/optimizer.pt
model/davinci-002/codet5-large/checkpoint-1000/pytorch_model.bin
model/one-time-data/codet5-large/checkpoint-4212/pytorch_model.bin
model/one-time-data/codet5-small/checkpoint-7722/pytorch_model.bin
dataset/other_dataset/natural-instruction-v2-json/tokenized_text/tokenized_train.json
baselines/other_baselines/ColossalAI-Examples-opt/model/epoch_444_model.pth
model/coin_filp/code-t5-small/6e-5/checkpoint-69/pytorch_model.bin
model/one-time-data/codet5-base/pytorch_model.bin
pre_trained_model/gpt-2/64.tflite
model/davinci-002/codet5-large/pytorch_model.bin
model/code-t5-small/compressed/length_compressed/0.4_compressed-learning-6e-5/pytorch_model.bin
model/davinci-002/codet5-base/checkpoint-1500/optimizer.pt
model/code-t5-base/compressed/entropy_compressed/0.9_compressed-learning-6e-5/pytorch_model.bin
model/one-time-data/codet5-small/checkpoint-6318/optimizer.pt
model/3.5-turbo/codet5-small/checkpoint-8880/optimizer.pt
model/one-time-data/codet5-small/checkpoint-2106/optimizer.pt
model/davinci-002/codet5-small/checkpoint-2000/optimizer.pt
model/3.5-turbo/codet5-small/checkpoint-5328/pytorch_model.bin
model/3.5-turbo/codet5-small/checkpoint-9768/pytorch_model.bin
model/code-t5-base/trainsformers_v2.28.0/0.4_compressed-learning-6e-5/pytorch_model.bin
model/3.5-turbo/codet5-base/checkpoint-3552/pytorch_model.bin
model/code-t5-small/compressed/length_compressed/0.1_compressed-learning-6e-5/pytorch_model.bin
model/3.5-turbo/codet5-large/checkpoint-888/optimizer.pt
model/davinci-002/codet5-small/checkpoint-5500/pytorch_model.bin
model/code-t5-small/compressed/length_compressed/0.2_compressed-learning-6e-5/pytorch_model.bin
model/davinci-002/codet5-base/checkpoint-2500/optimizer.pt
model/code-t5-base/trainsformers_v2.28.0/0.2_compressed-learning-6e-5/pytorch_model.bin
model/code-t5-small/compressed/entropy_compressed/0.5_compressed-learning-6e-5/pytorch_model.bin
model/code-t5-small/compressed/gradient_compressed/0.9_compressed-learning-6e-5/pytorch_model.bin
model/code-t5-small/compressed/fathiful_compressed/0.3_compressed-learning-6e-5/pytorch_model.bin
model/3.5-turbo/codet5-small/checkpoint-4440/optimizer.pt
model/davinci-002/codet5-base/checkpoint-500/pytorch_model.bin
model/code-t5-small/compressed/gradient_compressed/gradient_descending/0.2_compressed-learning-6e-5/pytorch_model.bin
